<button mat-icon-button class="back-button" routerLink="/areas">
    <mat-icon>arrow_back</mat-icon>
</button>

<div fxLayout="column" fxLayoutAlign="space-around center" fxFill>
    <p class="title">Settings</p>

    <div fxLayout="column" fxLayoutAlign="space-between center">
        <h3 class="connection-title">Connection to services</h3>

        <div class="connection-list" fxLayout="row wrap" fxLayoutAlign="center">
            <button *ngFor="let service of services" mat-raised-button class="login-service-button"
                    (click)="redirectToServiceAuth(service)" fxLayoutAlign="center">
                <img class="service-button-icon" [src]="service.iconSvgPath">
                <span *ngIf="!service.isConnected">Connect to {{ service.label }}</span>
                <span *ngIf="service.isConnected">Disconnect from {{ service.label }}</span>
            </button>
        </div>
    </div>

    <button mat-flat-button color="warn" class="logout-button" (click)="logout()">Logout</button>
</div>