<h1 mat-dialog-title>{{ isEdit ? "Edit" : "Add" }} an IFTTT</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
    <div mat-dialog-content fxLayout="column">
        <div fxLayout="column">
            <!-- Service -->
            <mat-form-field>
                <mat-label>Action service</mat-label>
                <mat-select formControlName="actionService">
                    <mat-option *ngFor="let service of actionServices" [value]="service.name">
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
                            <img class="services-options-image" [src]="service.iconSvgPath">
                            <span>{{ service.label }}</span>
                        </div>
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="form.get('actionService')?.valid && form.contains(form.get('actionService')?.value + '-action')"
                 fxLayout="column">
                <!-- Condition -->
                <mat-form-field>
                    <mat-label>Condition</mat-label>
                    <mat-select [formControl]="actionForm" [compareWith]="compareModels">
                        <mat-option *ngFor="let elem of serviceActions" [value]="elem">
                            {{ elem.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Parameters -->
                <h2 fxFlexAlign="center">Parameters</h2>
                <ng-container *ngFor="let parameter of actionParameters" [ngSwitch]="parameter.type">
                    <mat-form-field *ngSwitchCase="eParamType.TEXT" fxFlex>
                        <mat-label>{{ parameter.label }}</mat-label>
                        <input matInput type="text"
                               [formControlName]="action.service + '-' + action.type + '-actionParam-' + parameter.name">
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="eParamType.NUMBER" fxFlex>
                        <mat-label>{{ parameter.label }}</mat-label>
                        <input matInput type="number"
                               [formControlName]="action.service + '-' + action.type + '-actionParam-' + parameter.name">
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="eParamType.URL" fxFlex>
                        <mat-label>{{ parameter.label }}</mat-label>
                        <input matInput type="url"
                               [formControlName]="action.service + '-' + action.type + '-actionParam-' + parameter.name">
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="eParamType.TIME" fxFlex>
                        <mat-label>{{ parameter.label }}</mat-label>
                        <input matInput type="text"
                               [formControlName]="action.service + '-' + action.type + '-actionParam-' + parameter.name">
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="eParamType.DATETIME" fxFlex>
                        <mat-label>{{ parameter.label }}</mat-label>
                        <input matInput [min]="dateNow()"
                               [ngxMatDatetimePicker]="datePicker"
                               [formControlName]="action.service + '-' + action.type + '-actionParam-' + parameter.name">
                        <mat-datepicker-toggle matSuffix [for]="$any(datePicker)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #datePicker [showSeconds]="false">
                        </ngx-mat-datetime-picker>
                    </mat-form-field>
                </ng-container>
            </div>
        </div>

        <img class="action-to-reaction-arrow" src="assets/icons/arrow_down.svg">

        <div fxLayout="column">
            <!-- Service -->
            <mat-form-field>
                <mat-label>Reaction service</mat-label>
                <mat-select formControlName="reactionService">
                    <mat-option *ngFor="let service of reactionServices" [value]="service.name">
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
                            <img class="services-options-image" [src]="service.iconSvgPath">
                            <span>{{ service.label }}</span>
                        </div>
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="form.get('reactionService')?.valid && form.contains(form.get('reactionService')?.value + '-reaction')"
                 fxLayout="column">
                <!-- Consequence -->
                <mat-form-field>
                    <mat-label>Consequence</mat-label>
                    <mat-select [formControl]="reactionForm" [compareWith]="compareModels">
                        <mat-option *ngFor="let elem of serviceReactions" [value]="elem">
                            {{ elem.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Parameters -->
                <h2 fxFlexAlign="center">Parameters</h2>
                <ng-container *ngFor="let parameter of reactionParameters" [ngSwitch]="parameter.type">
                    <mat-form-field *ngSwitchCase="eParamType.TEXT" fxFlex>
                        <mat-label>{{ parameter.label }}</mat-label>
                        <input matInput type="text"
                               [formControlName]="reaction.service + '-' + reaction.type + '-reactionParam-' + parameter.name">
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="eParamType.NUMBER" fxFlex>
                        <mat-label>{{ parameter.label }}</mat-label>
                        <input matInput type="number"
                               [formControlName]="reaction.service + '-' + reaction.type + '-reactionParam-' + parameter.name">
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="eParamType.URL" fxFlex>
                        <mat-label>{{ parameter.label }}</mat-label>
                        <input matInput type="url"
                               [formControlName]="reaction.service + '-' + reaction.type + '-reactionParam-' + parameter.name">
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="eParamType.TIME" fxFlex>
                        <mat-label>{{ parameter.label }}</mat-label>
                        <input matInput type="text"
                               [formControlName]="reaction.service + '-' + reaction.type + '-reactionParam-' + parameter.name">
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="eParamType.DATETIME" fxFlex>
                        <mat-label>{{ parameter.label }}</mat-label>
                        <input matInput [min]="dateNow()"
                               [ngxMatDatetimePicker]="datePicker"
                               [formControlName]="reaction.service + '-' + reaction.type + '-reactionParam-' + parameter.name">
                        <mat-datepicker-toggle matSuffix [for]="$any(datePicker)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #datePicker [showSeconds]="false">
                        </ngx-mat-datetime-picker>
                    </mat-form-field>
                </ng-container>
            </div>
        </div>
    </div>

    <div mat-dialog-actions fxLayout="row" [fxLayoutAlign]="isEdit ? 'space-between' : 'end'">
        <button *ngIf="isEdit" mat-raised-button type="button" color="warn" (click)="deleteArea()">Delete</button>
        <div>
            <button mat-button mat-dialog-close type="button">Cancel</button>
            <button mat-raised-button type="submit" color="primary">{{ isEdit ? " Save" : "Add" }}</button>
        </div>
    </div>
</form>