body {
    background-color: #f6f6f6;
}

.title {
    font-size: xxx-large;
    font-weight: bold;
}

.new-button {
    width: 15%;
    min-width: 100px;
}

.settings-button {
    position: absolute;
    top: 17px;
    right: 20px;

    mat-icon {
        font-size: 35px;
        padding-right: 10px;
    }
}

.area-widget {
    padding: 15px;
}
