<button mat-icon-button class="settings-button" routerLink="/settings">
    <mat-icon>settings</mat-icon>
</button>

<div fxLayout="column" fxLayoutAlign="space-around center" fxFill>
    <div class="area-list-page-content" fxLayout="column" fxLayoutAlign="space-around center">
        <p class="title">AReas list</p>

        <div class="area-list" fxLayout="row wrap" fxLayoutAlign="center">
            <app-area-widget class="area-widget" *ngFor="let area of areas" [area]="area" (click)="openEditModal(area)">
            </app-area-widget>
            <h2 *ngIf="areas.length === 0 && !isLoading">No area</h2>
            <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" color="primary">
            </mat-progress-spinner>
        </div>

        <button mat-flat-button color="primary" class="new-button" (click)="openEditModal()">New</button>
    </div>
</div>