.title {
    font-size: xxx-large;
    font-weight: bold;
}

.register-content {
    width: 100%;
    max-width: 950px;
}

.register-form-group {
    width: 35%;
    min-width: 200px;
}

.register-app-button {
    width: 100%;

    .app-button-icon {
        width: 25px;
        padding-right: 10px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #efefef;
    min-height: 90px;

    .login-button {
        width: 15%;
        min-width: 100px;
    }
}
