<mat-card *ngIf="area" matRipple class="area-card" fxLayout="row" fxLayoutAlign="space-around center"
          fxLayoutGap="30px">

    <!-- Action -->
    <div class="card-element" fxLayout="column" fxLayoutAlign="space-between center">
        <h2>{{ displayableAreaAction?.title }}</h2>
        <mat-card-subtitle class="subtitle" fxHide.lt-sm>{{ displayableAreaAction?.subtitle }}</mat-card-subtitle>
        <img *ngIf="displayableAreaAction?.svgPath" [src]="displayableAreaAction?.svgPath">
    </div>

    <!-- Arrow -->
    <img class=" action-to-reaction-arrow" src="assets/icons/arrow_right.svg">

    <!-- Reaction -->
    <div class="card-element last-card-element" fxLayout="column" fxLayoutAlign="space-between center">
        <h2>{{ displayableAreaReaction?.title }}</h2>
        <mat-card-subtitle class="subtitle" fxHide.lt-sm>{{ displayableAreaReaction?.subtitle }}</mat-card-subtitle>
        <img *ngIf="displayableAreaReaction?.svgPath" [src]="displayableAreaReaction?.svgPath">
    </div>

</mat-card>